<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <br />
        <h:link outcome="/pages/Login" value="Login" />
        <br />
        <h:link outcome="/pages/catalogo/List" value="Show All Catalogo Items"/>
        <br />
        <h:link outcome="/pages/comprador/List" value="Show All Comprador Items"/>
        <br />
        <h:link outcome="/pages/desarrolladoras/List" value="Show All Desarrolladoras Items"/>
        <br />
        <h:link outcome="/pages/moderadores/List" value="Show All Moderadores Items"/>
        <br />
        <h:link outcome="/pages/publicadores/List" value="Show All Publicadores Items"/>
    </h:body>





</html>

