<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateModeradoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateModeradoresLabel_idModerador}" for="idModerador" />
                    <h:inputText id="idModerador" value="#{moderadoresController.selected.idModerador}" title="#{bundle.CreateModeradoresTitle_idModerador}" required="true" requiredMessage="#{bundle.CreateModeradoresRequiredMessage_idModerador}"/>
                    <h:outputLabel value="#{bundle.CreateModeradoresLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{moderadoresController.selected.nombre}" title="#{bundle.CreateModeradoresTitle_nombre}" required="true" requiredMessage="#{bundle.CreateModeradoresRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateModeradoresLabel_apPaterno}" for="apPaterno" />
                    <h:inputText id="apPaterno" value="#{moderadoresController.selected.apPaterno}" title="#{bundle.CreateModeradoresTitle_apPaterno}" required="true" requiredMessage="#{bundle.CreateModeradoresRequiredMessage_apPaterno}"/>
                    <h:outputLabel value="#{bundle.CreateModeradoresLabel_apMaterno}" for="apMaterno" />
                    <h:inputText id="apMaterno" value="#{moderadoresController.selected.apMaterno}" title="#{bundle.CreateModeradoresTitle_apMaterno}" required="true" requiredMessage="#{bundle.CreateModeradoresRequiredMessage_apMaterno}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{moderadoresController.create}" value="#{bundle.CreateModeradoresSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{moderadoresController.prepareList}" value="#{bundle.CreateModeradoresShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateModeradoresIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
