<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListModeradoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListModeradoresEmpty}" rendered="#{moderadoresController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{moderadoresController.items.rowCount > 0}">
                    <h:outputText value="#{moderadoresController.pagination.pageFirstItem + 1}..#{moderadoresController.pagination.pageLastItem + 1}/#{moderadoresController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{moderadoresController.previous}" value="#{bundle.Previous} #{moderadoresController.pagination.pageSize}" rendered="#{moderadoresController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{moderadoresController.next}" value="#{bundle.Next} #{moderadoresController.pagination.pageSize}" rendered="#{moderadoresController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{moderadoresController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModeradoresTitle_idModerador}"/>
                            </f:facet>
                            <h:outputText value="#{item.idModerador}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModeradoresTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModeradoresTitle_apPaterno}"/>
                            </f:facet>
                            <h:outputText value="#{item.apPaterno}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModeradoresTitle_apMaterno}"/>
                            </f:facet>
                            <h:outputText value="#{item.apMaterno}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{moderadoresController.prepareView}" value="#{bundle.ListModeradoresViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{moderadoresController.prepareEdit}" value="#{bundle.ListModeradoresEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{moderadoresController.destroy}" value="#{bundle.ListModeradoresDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{moderadoresController.prepareCreate}" value="#{bundle.ListModeradoresCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListModeradoresIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
