<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewModeradoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewModeradoresLabel_idModerador}"/>
                    <h:outputText value="#{moderadoresController.selected.idModerador}" title="#{bundle.ViewModeradoresTitle_idModerador}"/>
                    <h:outputText value="#{bundle.ViewModeradoresLabel_nombre}"/>
                    <h:outputText value="#{moderadoresController.selected.nombre}" title="#{bundle.ViewModeradoresTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewModeradoresLabel_apPaterno}"/>
                    <h:outputText value="#{moderadoresController.selected.apPaterno}" title="#{bundle.ViewModeradoresTitle_apPaterno}"/>
                    <h:outputText value="#{bundle.ViewModeradoresLabel_apMaterno}"/>
                    <h:outputText value="#{moderadoresController.selected.apMaterno}" title="#{bundle.ViewModeradoresTitle_apMaterno}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{moderadoresController.destroyAndView}" value="#{bundle.ViewModeradoresDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewModeradoresEditLink}"/>
                <br />
                <h:commandLink action="#{moderadoresController.prepareCreate}" value="#{bundle.ViewModeradoresCreateLink}" />
                <br />
                <h:commandLink action="#{moderadoresController.prepareList}" value="#{bundle.ViewModeradoresShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewModeradoresIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
