<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDesarrolladorasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDesarrolladorasLabel_idDesarrolladora}" for="idDesarrolladora" />
                    <h:inputText id="idDesarrolladora" value="#{desarrolladorasController.selected.idDesarrolladora}" title="#{bundle.EditDesarrolladorasTitle_idDesarrolladora}" required="true" requiredMessage="#{bundle.EditDesarrolladorasRequiredMessage_idDesarrolladora}"/>
                    <h:outputLabel value="#{bundle.EditDesarrolladorasLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{desarrolladorasController.selected.nombre}" title="#{bundle.EditDesarrolladorasTitle_nombre}" required="true" requiredMessage="#{bundle.EditDesarrolladorasRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditDesarrolladorasLabel_ubicacion}" for="ubicacion" />
                    <h:inputText id="ubicacion" value="#{desarrolladorasController.selected.ubicacion}" title="#{bundle.EditDesarrolladorasTitle_ubicacion}" required="true" requiredMessage="#{bundle.EditDesarrolladorasRequiredMessage_ubicacion}"/>
                </h:panelGrid>
                <h:commandLink action="#{desarrolladorasController.update}" value="#{bundle.EditDesarrolladorasSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDesarrolladorasViewLink}"/>
                <br />
                <h:commandLink action="#{desarrolladorasController.prepareList}" value="#{bundle.EditDesarrolladorasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDesarrolladorasIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
