<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDesarrolladorasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDesarrolladorasEmpty}" rendered="#{desarrolladorasController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{desarrolladorasController.items.rowCount > 0}">
                    <h:outputText value="#{desarrolladorasController.pagination.pageFirstItem + 1}..#{desarrolladorasController.pagination.pageLastItem + 1}/#{desarrolladorasController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{desarrolladorasController.previous}" value="#{bundle.Previous} #{desarrolladorasController.pagination.pageSize}" rendered="#{desarrolladorasController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{desarrolladorasController.next}" value="#{bundle.Next} #{desarrolladorasController.pagination.pageSize}" rendered="#{desarrolladorasController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{desarrolladorasController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDesarrolladorasTitle_idDesarrolladora}"/>
                            </f:facet>
                            <h:outputText value="#{item.idDesarrolladora}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDesarrolladorasTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDesarrolladorasTitle_ubicacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.ubicacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{desarrolladorasController.prepareView}" value="#{bundle.ListDesarrolladorasViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{desarrolladorasController.prepareEdit}" value="#{bundle.ListDesarrolladorasEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{desarrolladorasController.destroy}" value="#{bundle.ListDesarrolladorasDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{desarrolladorasController.prepareCreate}" value="#{bundle.ListDesarrolladorasCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDesarrolladorasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
