<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDesarrolladorasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDesarrolladorasLabel_idDesarrolladora}"/>
                    <h:outputText value="#{desarrolladorasController.selected.idDesarrolladora}" title="#{bundle.ViewDesarrolladorasTitle_idDesarrolladora}"/>
                    <h:outputText value="#{bundle.ViewDesarrolladorasLabel_nombre}"/>
                    <h:outputText value="#{desarrolladorasController.selected.nombre}" title="#{bundle.ViewDesarrolladorasTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewDesarrolladorasLabel_ubicacion}"/>
                    <h:outputText value="#{desarrolladorasController.selected.ubicacion}" title="#{bundle.ViewDesarrolladorasTitle_ubicacion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{desarrolladorasController.destroyAndView}" value="#{bundle.ViewDesarrolladorasDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDesarrolladorasEditLink}"/>
                <br />
                <h:commandLink action="#{desarrolladorasController.prepareCreate}" value="#{bundle.ViewDesarrolladorasCreateLink}" />
                <br />
                <h:commandLink action="#{desarrolladorasController.prepareList}" value="#{bundle.ViewDesarrolladorasShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDesarrolladorasIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
