<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCatalogoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCatalogoLabel_idJuego}" for="idJuego" />
                    <h:inputText id="idJuego" value="#{catalogoController.selected.idJuego}" title="#{bundle.CreateCatalogoTitle_idJuego}" required="true" requiredMessage="#{bundle.CreateCatalogoRequiredMessage_idJuego}"/>
                    <h:outputLabel value="#{bundle.CreateCatalogoLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{catalogoController.selected.titulo}" title="#{bundle.CreateCatalogoTitle_titulo}" required="true" requiredMessage="#{bundle.CreateCatalogoRequiredMessage_titulo}"/>
                    <h:outputLabel value="#{bundle.CreateCatalogoLabel_precio}" for="precio" />
                    <h:inputText id="precio" value="#{catalogoController.selected.precio}" title="#{bundle.CreateCatalogoTitle_precio}" required="true" requiredMessage="#{bundle.CreateCatalogoRequiredMessage_precio}"/>
                    <h:outputLabel value="#{bundle.CreateCatalogoLabel_idPublicador}" for="idPublicador" />
                    <h:inputText id="idPublicador" value="#{catalogoController.selected.idPublicador}" title="#{bundle.CreateCatalogoTitle_idPublicador}" required="true" requiredMessage="#{bundle.CreateCatalogoRequiredMessage_idPublicador}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{catalogoController.create}" value="#{bundle.CreateCatalogoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{catalogoController.prepareList}" value="#{bundle.CreateCatalogoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCatalogoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
