<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCatalogoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCatalogoLabel_idJuego}" for="idJuego" />
                    <h:inputText id="idJuego" value="#{catalogoController.selected.idJuego}" title="#{bundle.EditCatalogoTitle_idJuego}" required="true" requiredMessage="#{bundle.EditCatalogoRequiredMessage_idJuego}"/>
                    <h:outputLabel value="#{bundle.EditCatalogoLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{catalogoController.selected.titulo}" title="#{bundle.EditCatalogoTitle_titulo}" required="true" requiredMessage="#{bundle.EditCatalogoRequiredMessage_titulo}"/>
                    <h:outputLabel value="#{bundle.EditCatalogoLabel_precio}" for="precio" />
                    <h:inputText id="precio" value="#{catalogoController.selected.precio}" title="#{bundle.EditCatalogoTitle_precio}" required="true" requiredMessage="#{bundle.EditCatalogoRequiredMessage_precio}"/>
                    <h:outputLabel value="#{bundle.EditCatalogoLabel_idPublicador}" for="idPublicador" />
                    <h:inputText id="idPublicador" value="#{catalogoController.selected.idPublicador}" title="#{bundle.EditCatalogoTitle_idPublicador}" required="true" requiredMessage="#{bundle.EditCatalogoRequiredMessage_idPublicador}"/>
                </h:panelGrid>
                <h:commandLink action="#{catalogoController.update}" value="#{bundle.EditCatalogoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCatalogoViewLink}"/>
                <br />
                <h:commandLink action="#{catalogoController.prepareList}" value="#{bundle.EditCatalogoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCatalogoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
