<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCatalogoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCatalogoEmpty}" rendered="#{catalogoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{catalogoController.items.rowCount > 0}">
                    <h:outputText value="#{catalogoController.pagination.pageFirstItem + 1}..#{catalogoController.pagination.pageLastItem + 1}/#{catalogoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{catalogoController.previous}" value="#{bundle.Previous} #{catalogoController.pagination.pageSize}" rendered="#{catalogoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{catalogoController.next}" value="#{bundle.Next} #{catalogoController.pagination.pageSize}" rendered="#{catalogoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{catalogoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCatalogoTitle_idJuego}"/>
                            </f:facet>
                            <h:outputText value="#{item.idJuego}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCatalogoTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCatalogoTitle_precio}"/>
                            </f:facet>
                            <h:outputText value="#{item.precio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCatalogoTitle_idPublicador}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPublicador}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{catalogoController.prepareView}" value="#{bundle.ListCatalogoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{catalogoController.prepareEdit}" value="#{bundle.ListCatalogoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{catalogoController.destroy}" value="#{bundle.ListCatalogoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{catalogoController.prepareCreate}" value="#{bundle.ListCatalogoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCatalogoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
