<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCatalogoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCatalogoLabel_idJuego}"/>
                    <h:outputText value="#{catalogoController.selected.idJuego}" title="#{bundle.ViewCatalogoTitle_idJuego}"/>
                    <h:outputText value="#{bundle.ViewCatalogoLabel_titulo}"/>
                    <h:outputText value="#{catalogoController.selected.titulo}" title="#{bundle.ViewCatalogoTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewCatalogoLabel_precio}"/>
                    <h:outputText value="#{catalogoController.selected.precio}" title="#{bundle.ViewCatalogoTitle_precio}"/>
                    <h:outputText value="#{bundle.ViewCatalogoLabel_idPublicador}"/>
                    <h:outputText value="#{catalogoController.selected.idPublicador}" title="#{bundle.ViewCatalogoTitle_idPublicador}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{catalogoController.destroyAndView}" value="#{bundle.ViewCatalogoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCatalogoEditLink}"/>
                <br />
                <h:commandLink action="#{catalogoController.prepareCreate}" value="#{bundle.ViewCatalogoCreateLink}" />
                <br />
                <h:commandLink action="#{catalogoController.prepareList}" value="#{bundle.ViewCatalogoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCatalogoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
