<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCompradorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCompradorLabel_idComprador}" for="idComprador" />
                    <h:inputText id="idComprador" value="#{compradorController.selected.idComprador}" title="#{bundle.CreateCompradorTitle_idComprador}" required="true" requiredMessage="#{bundle.CreateCompradorRequiredMessage_idComprador}"/>
                    <h:outputLabel value="#{bundle.CreateCompradorLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{compradorController.selected.nombre}" title="#{bundle.CreateCompradorTitle_nombre}" required="true" requiredMessage="#{bundle.CreateCompradorRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateCompradorLabel_apPaterrno}" for="apPaterrno" />
                    <h:inputText id="apPaterrno" value="#{compradorController.selected.apPaterrno}" title="#{bundle.CreateCompradorTitle_apPaterrno}" required="true" requiredMessage="#{bundle.CreateCompradorRequiredMessage_apPaterrno}"/>
                    <h:outputLabel value="#{bundle.CreateCompradorLabel_apMaterno}" for="apMaterno" />
                    <h:inputText id="apMaterno" value="#{compradorController.selected.apMaterno}" title="#{bundle.CreateCompradorTitle_apMaterno}" required="true" requiredMessage="#{bundle.CreateCompradorRequiredMessage_apMaterno}"/>
                    <h:outputLabel value="#{bundle.CreateCompradorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{compradorController.selected.email}" title="#{bundle.CreateCompradorTitle_email}" required="true" requiredMessage="#{bundle.CreateCompradorRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateCompradorLabel_cartera}" for="cartera" />
                    <h:inputText id="cartera" value="#{compradorController.selected.cartera}" title="#{bundle.CreateCompradorTitle_cartera}" required="true" requiredMessage="#{bundle.CreateCompradorRequiredMessage_cartera}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{compradorController.create}" value="#{bundle.CreateCompradorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{compradorController.prepareList}" value="#{bundle.CreateCompradorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCompradorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
