<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCompradorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCompradorLabel_idComprador}" for="idComprador" />
                    <h:inputText id="idComprador" value="#{compradorController.selected.idComprador}" title="#{bundle.EditCompradorTitle_idComprador}" required="true" requiredMessage="#{bundle.EditCompradorRequiredMessage_idComprador}"/>
                    <h:outputLabel value="#{bundle.EditCompradorLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{compradorController.selected.nombre}" title="#{bundle.EditCompradorTitle_nombre}" required="true" requiredMessage="#{bundle.EditCompradorRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditCompradorLabel_apPaterrno}" for="apPaterrno" />
                    <h:inputText id="apPaterrno" value="#{compradorController.selected.apPaterrno}" title="#{bundle.EditCompradorTitle_apPaterrno}" required="true" requiredMessage="#{bundle.EditCompradorRequiredMessage_apPaterrno}"/>
                    <h:outputLabel value="#{bundle.EditCompradorLabel_apMaterno}" for="apMaterno" />
                    <h:inputText id="apMaterno" value="#{compradorController.selected.apMaterno}" title="#{bundle.EditCompradorTitle_apMaterno}" required="true" requiredMessage="#{bundle.EditCompradorRequiredMessage_apMaterno}"/>
                    <h:outputLabel value="#{bundle.EditCompradorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{compradorController.selected.email}" title="#{bundle.EditCompradorTitle_email}" required="true" requiredMessage="#{bundle.EditCompradorRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditCompradorLabel_cartera}" for="cartera" />
                    <h:inputText id="cartera" value="#{compradorController.selected.cartera}" title="#{bundle.EditCompradorTitle_cartera}" required="true" requiredMessage="#{bundle.EditCompradorRequiredMessage_cartera}"/>
                </h:panelGrid>
                <h:commandLink action="#{compradorController.update}" value="#{bundle.EditCompradorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCompradorViewLink}"/>
                <br />
                <h:commandLink action="#{compradorController.prepareList}" value="#{bundle.EditCompradorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCompradorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
