<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCompradorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCompradorLabel_idComprador}"/>
                    <h:outputText value="#{compradorController.selected.idComprador}" title="#{bundle.ViewCompradorTitle_idComprador}"/>
                    <h:outputText value="#{bundle.ViewCompradorLabel_nombre}"/>
                    <h:outputText value="#{compradorController.selected.nombre}" title="#{bundle.ViewCompradorTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewCompradorLabel_apPaterrno}"/>
                    <h:outputText value="#{compradorController.selected.apPaterrno}" title="#{bundle.ViewCompradorTitle_apPaterrno}"/>
                    <h:outputText value="#{bundle.ViewCompradorLabel_apMaterno}"/>
                    <h:outputText value="#{compradorController.selected.apMaterno}" title="#{bundle.ViewCompradorTitle_apMaterno}"/>
                    <h:outputText value="#{bundle.ViewCompradorLabel_email}"/>
                    <h:outputText value="#{compradorController.selected.email}" title="#{bundle.ViewCompradorTitle_email}"/>
                    <h:outputText value="#{bundle.ViewCompradorLabel_cartera}"/>
                    <h:outputText value="#{compradorController.selected.cartera}" title="#{bundle.ViewCompradorTitle_cartera}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{compradorController.destroyAndView}" value="#{bundle.ViewCompradorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCompradorEditLink}"/>
                <br />
                <h:commandLink action="#{compradorController.prepareCreate}" value="#{bundle.ViewCompradorCreateLink}" />
                <br />
                <h:commandLink action="#{compradorController.prepareList}" value="#{bundle.ViewCompradorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCompradorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
