<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePublicadoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePublicadoresLabel_idPublicador}" for="idPublicador" />
                    <h:inputText id="idPublicador" value="#{publicadoresController.selected.idPublicador}" title="#{bundle.CreatePublicadoresTitle_idPublicador}" required="true" requiredMessage="#{bundle.CreatePublicadoresRequiredMessage_idPublicador}"/>
                    <h:outputLabel value="#{bundle.CreatePublicadoresLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{publicadoresController.selected.nombre}" title="#{bundle.CreatePublicadoresTitle_nombre}" required="true" requiredMessage="#{bundle.CreatePublicadoresRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreatePublicadoresLabel_idDesarrolladora}" for="idDesarrolladora" />
                    <h:inputText id="idDesarrolladora" value="#{publicadoresController.selected.idDesarrolladora}" title="#{bundle.CreatePublicadoresTitle_idDesarrolladora}" required="true" requiredMessage="#{bundle.CreatePublicadoresRequiredMessage_idDesarrolladora}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{publicadoresController.create}" value="#{bundle.CreatePublicadoresSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{publicadoresController.prepareList}" value="#{bundle.CreatePublicadoresShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePublicadoresIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
