<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPublicadoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPublicadoresLabel_idPublicador}" for="idPublicador" />
                    <h:inputText id="idPublicador" value="#{publicadoresController.selected.idPublicador}" title="#{bundle.EditPublicadoresTitle_idPublicador}" required="true" requiredMessage="#{bundle.EditPublicadoresRequiredMessage_idPublicador}"/>
                    <h:outputLabel value="#{bundle.EditPublicadoresLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{publicadoresController.selected.nombre}" title="#{bundle.EditPublicadoresTitle_nombre}" required="true" requiredMessage="#{bundle.EditPublicadoresRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditPublicadoresLabel_idDesarrolladora}" for="idDesarrolladora" />
                    <h:inputText id="idDesarrolladora" value="#{publicadoresController.selected.idDesarrolladora}" title="#{bundle.EditPublicadoresTitle_idDesarrolladora}" required="true" requiredMessage="#{bundle.EditPublicadoresRequiredMessage_idDesarrolladora}"/>
                </h:panelGrid>
                <h:commandLink action="#{publicadoresController.update}" value="#{bundle.EditPublicadoresSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPublicadoresViewLink}"/>
                <br />
                <h:commandLink action="#{publicadoresController.prepareList}" value="#{bundle.EditPublicadoresShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPublicadoresIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
