<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPublicadoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPublicadoresEmpty}" rendered="#{publicadoresController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{publicadoresController.items.rowCount > 0}">
                    <h:outputText value="#{publicadoresController.pagination.pageFirstItem + 1}..#{publicadoresController.pagination.pageLastItem + 1}/#{publicadoresController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{publicadoresController.previous}" value="#{bundle.Previous} #{publicadoresController.pagination.pageSize}" rendered="#{publicadoresController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{publicadoresController.next}" value="#{bundle.Next} #{publicadoresController.pagination.pageSize}" rendered="#{publicadoresController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{publicadoresController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicadoresTitle_idPublicador}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPublicador}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicadoresTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicadoresTitle_idDesarrolladora}"/>
                            </f:facet>
                            <h:outputText value="#{item.idDesarrolladora}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{publicadoresController.prepareView}" value="#{bundle.ListPublicadoresViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{publicadoresController.prepareEdit}" value="#{bundle.ListPublicadoresEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{publicadoresController.destroy}" value="#{bundle.ListPublicadoresDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{publicadoresController.prepareCreate}" value="#{bundle.ListPublicadoresCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPublicadoresIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
