<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPublicadoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPublicadoresLabel_idPublicador}"/>
                    <h:outputText value="#{publicadoresController.selected.idPublicador}" title="#{bundle.ViewPublicadoresTitle_idPublicador}"/>
                    <h:outputText value="#{bundle.ViewPublicadoresLabel_nombre}"/>
                    <h:outputText value="#{publicadoresController.selected.nombre}" title="#{bundle.ViewPublicadoresTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewPublicadoresLabel_idDesarrolladora}"/>
                    <h:outputText value="#{publicadoresController.selected.idDesarrolladora}" title="#{bundle.ViewPublicadoresTitle_idDesarrolladora}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{publicadoresController.destroyAndView}" value="#{bundle.ViewPublicadoresDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPublicadoresEditLink}"/>
                <br />
                <h:commandLink action="#{publicadoresController.prepareCreate}" value="#{bundle.ViewPublicadoresCreateLink}" />
                <br />
                <h:commandLink action="#{publicadoresController.prepareList}" value="#{bundle.ViewPublicadoresShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPublicadoresIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
